.Personagem-logo {
  height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Opcoes {
    width: 210px;
    margin-left: auto;
    margin-right: auto;
    background: #000;
}

.Intro {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1px;
}
